<div>
  <div class="p-3 pb-0 mat-typography fs-5" *isAuthenticated="'ALL'">
    <div class="fw-bold">{{(user$| async)!?.fullname}}</div>
    <small>Ruolo: {{userRoles | extractLabelByCode:(user$| async)!.role}}</small>
  </div>
  <mat-divider class="my-3"></mat-divider>
  <!--  </a>-->
  <app-sidemenu-item [icon]="'campaign'" [title]="'News'" *isAuthenticated="['ADMIN','CUSTOMER']"
                     routerLinkActive="active" routerLink="/news"></app-sidemenu-item>
  <app-sidemenu-item [icon]="'newspaper'" [title]="'Testate'" *isAuthenticated="['ADMIN','CUSTOMER']"
                     routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/newspapers"></app-sidemenu-item>

  <app-sidemenu-item [icon]="'shopping_cart_checkout'" [title]="'Acquisti contenuti'" *isAuthenticated="['ADMIN']"
                     routerLinkActive="active" routerLink="/newspapers/content-purchase" [indent]="true"></app-sidemenu-item>

  <app-sidemenu-item [icon]="'attach_money'" [title]="'Ordini'" *isAuthenticated="['ADMIN','CUSTOMER']"
                     routerLinkActive="active" routerLink="/orders"
                     [routerLinkActiveOptions]="{exact: true}"></app-sidemenu-item>
  <app-sidemenu-item [icon]="'feed'" [title]="'Pacchetti comunicati stampa'" *isAuthenticated="['ADMIN','CUSTOMER']"
                     routerLinkActive="active" routerLink="/orders/pack" [indent]="true"></app-sidemenu-item>

  <app-sidemenu-item [icon]="'assessment'" [title]="'Gestione progetti'" *isNotInRole="['EDITOR']"
                     routerLinkActive="active" routerLink="/projects"></app-sidemenu-item>
  <app-sidemenu-item [icon]="'edit_square'" [title]="'Gestione contenuti'" *isNotInRole="['FINAL_CUSTOMER']"
                     routerLinkActive="active" routerLink="/contents"></app-sidemenu-item>
  <app-sidemenu-item [icon]="'text_fields'" [title]="'Titoli'" *isAuthenticated="['ADMIN','CHIEF_EDITOR']"
                     routerLinkActive="active" routerLink="/titles"></app-sidemenu-item>
  <app-sidemenu-item [icon]="'dns'" [title]="'Hosting'"
                     routerLinkActive="active" routerLink="/hosting" *isAuthenticated="['ADMIN','INTERNAL_NETWORK']"></app-sidemenu-item>
  <app-sidemenu-item [icon]="'ads_click'" [title]="'Domini'"
                     routerLinkActive="active" routerLink="/domain" *isAuthenticated="['ADMIN','INTERNAL_NETWORK']"></app-sidemenu-item>

  <ng-container *isAuthenticated="['ADMIN']">
    <mat-divider class="my-3"></mat-divider>
    <app-sidemenu-item [icon]="'group'" [title]="'Utenti'" routerLinkActive="active"
                       routerLink="/users"></app-sidemenu-item>
  </ng-container>


  <!--  <a class="d-flex align-items-center justify-content-start" mat-button-->
  <!--     *isAuthenticated="['ADMIN']" routerLinkActive="active" routerLink="/customer">-->
  <!--    <mat-icon>hail</mat-icon>-->
  <!--    <span class="mx-3">Clienti</span>-->
  <!--  </a>-->

  <!--  <a class="d-flex align-items-center justify-content-start" mat-button-->
  <!--     *isAuthenticated="['ADMIN']" routerLinkActive="active" routerLink="/suggests">-->
  <!--    <mat-icon>assistant</mat-icon>-->
  <!--    <span class="mx-3">Keywords</span>-->
  <!--  </a>-->
  <mat-divider class="my-3"></mat-divider>
  <app-sidemenu-item [icon]="'logout'" [title]="'Logout'" (click)="onLogout()"></app-sidemenu-item>
  <mat-divider></mat-divider>
  <small class="mat-typography p-3">Versione applicativo: {{environment.version}}</small>
</div>
