<div>
  <div class="p-3 pb-0 mat-typography fs-5">
    <div class="fw-bold">{{(user$| async)!?.fullname}}</div>
    <small>Ruolo: {{(user$| async)!?.role | roleDescription}}</small>
  </div>
  <mat-divider class="my-3"></mat-divider>
  <!--  <a class="d-flex align-items-center justify-content-start" mat-button-->
  <!--     *isAuthenticated="['ADMIN', 'CUSTOMER']" routerLinkActive="active" routerLink="/projects/home">-->
  <!--    <mat-icon>engineering</mat-icon>-->
  <!--    <span class="mx-3">Progetti</span>-->
  <!--  </a>-->

  <!--  <a class="d-flex align-items-center justify-content-start" mat-button-->
  <!--     *isAuthenticated="['ADMIN', 'CUSTOMER']" routerLinkActive="active" routerLink="/price-quotation">-->
  <!--    <mat-icon>payments</mat-icon>-->
  <!--    <span class="mx-3">Preventivi</span>-->
  <!--  </a>-->

  <!--  <a class="d-flex align-items-center justify-content-start" mat-button-->
  <!--     *isAuthenticated="['ADMIN', 'EDITOR','CHIEF_EDITOR']" routerLinkActive="active" routerLink="/contents">-->
  <!--    <mat-icon>history_edu</mat-icon>-->
  <!--    <span class="mx-3">Contenuti</span>-->
  <!--  </a>-->
  <app-sidemenu-item [icon]="'campaign'" [title]="'News'" *isAuthenticated="['ADMIN','CUSTOMER']"
                     routerLinkActive="active" routerLink="/news"></app-sidemenu-item>
  <app-sidemenu-item [icon]="'newspaper'" [title]="'Testate'" *isAuthenticated="['ADMIN','CUSTOMER']"
                     routerLinkActive="active" routerLink="/newspapers"></app-sidemenu-item>
  <app-sidemenu-item [icon]="'attach_money'" [title]="'Ordini'" *isAuthenticated="['ADMIN','CUSTOMER']"
                     routerLinkActive="active" routerLink="/orders"></app-sidemenu-item>

  <ng-container *isAuthenticated="['ADMIN']">
    <mat-divider class="my-3"></mat-divider>
    <app-sidemenu-item [icon]="'group'" [title]="'Utenti'" routerLinkActive="active"
                       routerLink="/users"></app-sidemenu-item>
  </ng-container>


  <!--  <a class="d-flex align-items-center justify-content-start" mat-button-->
  <!--     *isAuthenticated="['ADMIN']" routerLinkActive="active" routerLink="/customer">-->
  <!--    <mat-icon>hail</mat-icon>-->
  <!--    <span class="mx-3">Clienti</span>-->
  <!--  </a>-->

  <!--  <a class="d-flex align-items-center justify-content-start" mat-button-->
  <!--     *isAuthenticated="['ADMIN']" routerLinkActive="active" routerLink="/suggests">-->
  <!--    <mat-icon>assistant</mat-icon>-->
  <!--    <span class="mx-3">Keywords</span>-->
  <!--  </a>-->
  <mat-divider class="my-3"></mat-divider>
  <app-sidemenu-item [icon]="'logout'" [title]="'Logout'" (click)="onLogout()"></app-sidemenu-item>
</div>
