<mat-toolbar>
  Modifica contenuto
</mat-toolbar>
<div class="p-3">
  <mat-drawer-container autosize *ngIf="contentToEdit" [style.min-height]="'75vh'">
    <mat-drawer #drawer mode="side" class="w-25" [opened]="true">
      <div class="p-3 mat-typography">
        <div class="text-start mb-3">
          <h3>Commissione per {{contentToEdit.projectCommission.newspaper.name}}</h3>
          <a mat-raised-button target="_blank"
             [href]="'/projects/' + contentToEdit.projectCommission.projectId + '?commissionId='+contentToEdit.projectCommission.id">
            Vai alla commissione
            <mat-icon>open_in_new</mat-icon>
          </a>
        </div>
        <mat-divider></mat-divider>
        <mat-form-field class="w-100 mt-3" appearance="fill">
          <mat-label>Assegna a redattore</mat-label>
          <input type="text"
                 placeholder="Cerca redattore..."
                 matInput
                 [formControl]="contentForm.controls.editor"
                 [matAutocomplete]="auto"
          >
          <mat-autocomplete #auto="matAutocomplete"
                            [displayWith]="displayFullnameEditor"
                            (optionSelected)="assignEditor($event)"
          >
            <mat-option *ngFor="let option of editors" [value]="option">
              {{option.fullname}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-divider></mat-divider>
        <div class="my-3 d-flex align-items-center">
          <span class="fw-bold">STATO:</span>
          <mat-chip-list class="ms-3">
            <mat-chip color="primary">{{contentStatus | extractLabelByCode:contentToEdit.contentStatus}}</mat-chip>
          </mat-chip-list>
        </div>
        <mat-divider></mat-divider>
        <mat-list>
          <mat-list-item><span class="fw-bold me-3">Titolo:</span> {{contentToEdit.projectCommission.title}}
          </mat-list-item>
          <mat-list-item><span class="fw-bold me-3">Ancora:</span> {{contentToEdit.projectCommission.anchor}}
            <mat-chip-list class="ms-3">
              <mat-chip *ngIf="contentToEdit.projectCommission.isAnchorItalic">
                <mat-icon>format_italic</mat-icon>
              </mat-chip>
              <mat-chip *ngIf="contentToEdit.projectCommission.isAnchorBold">
                <mat-icon>format_bold</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </mat-list-item>
          <mat-list-item>
            <span class="fw-bold me-3">Url:</span> {{contentToEdit.projectCommission.url}}
          </mat-list-item>
        </mat-list>
        <mat-divider class="mb-3"></mat-divider>
        <ng-container *isAuthenticated="['ADMIN','CHIEF_EDITOR','EDITOR','INTERNAL_NETWORK']">
          <button *ngIf="contentToEdit.contentStatus === 'WORKING'" mat-raised-button color="primary" class="m-1 w-100"
                  (click)="updateStatus('DELIVERED')">Invia al capo redattore
            <mat-icon>send</mat-icon>
          </button>
        </ng-container>
        <ng-container *isAuthenticated="['ADMIN','CHIEF_EDITOR','INTERNAL_NETWORK']">
          <button *ngIf="contentToEdit.contentStatus === 'DELIVERED'" mat-raised-button color="primary"
                  class="m-1 w-100" (click)="updateStatus('WORKING')">Invia al redattore
            <mat-icon>send</mat-icon>
          </button>
          <button *ngIf="!contentToEdit.isDomainContent && contentToEdit.contentStatus === 'DELIVERED'"
                  mat-raised-button color="primary"
                  class="m-1 w-100"
                  (click)="updateStatus('SENT_TO_CUSTOMER')">Invia al cliente
            <mat-icon>send</mat-icon>
          </button>
          <button
            *ngIf="contentToEdit.contentStatus != 'APPROVED' && contentToEdit.contentStatus != 'PUBLISHED_WORDPRESS'"
            mat-raised-button color="primary" class=" m-1 w-100"
            (click)="updateStatus('APPROVED')">Approvato
            <mat-icon>check</mat-icon>
          </button>
        </ng-container>
        <ng-container *isAuthenticated="['CUSTOMER']">
          <button *ngIf="!contentToEdit.isDomainContent && contentToEdit.contentStatus === 'SENT_TO_CUSTOMER'"
                  mat-raised-button color="primary"
                  class=" m-1 w-100" (click)="updateStatus('APPROVED')">Approvato
            <mat-icon>check</mat-icon>
          </button>
        </ng-container>
        <ng-container *isAuthenticated="['ADMIN','CHIEF_EDITOR','PUBLISHER','INTERNAL_NETWORK']">
          <ng-container
            *ngIf="contentToEdit.isDomainContent && contentToEdit.contentStatus === 'APPROVED' || contentToEdit.contentStatus === 'PUBLISHED_WORDPRESS'">
            <mat-card>
              <mat-card-content>
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Data di pubblicazione</mat-label>
                  <input matInput [matDatepicker]="picker" [(ngModel)]="publicationDate">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Categorie Wordpress</mat-label>
                  <mat-select [(ngModel)]="categories" multiple>
                    <mat-option *ngFor="let wpCategory of wpCategories"
                                [value]="wpCategory.id">{{wpCategory.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-card
                  *ngIf="!removeFeaturedMedia && (contentToEdit.wordpressFeaturedMediaUrl || featuredMediaBase64)">
                  <mat-card-content>
                    <img mat-card-image *ngIf="contentToEdit.wordpressFeaturedMediaUrl" [src]="contentToEdit.wordpressFeaturedMediaUrl">
                    <img mat-card-image *ngIf="featuredMediaBase64" [src]="featuredMediaBase64">
                  </mat-card-content>
                  <mat-action-list>
                    <button class="w-100" mat-raised-button (click)="removeFeaturedImage()">Rimuovi immagine</button>
                  </mat-action-list>
                </mat-card>
                <ngx-dropzone *ngIf="removeFeaturedMedia || (!contentToEdit.wordpressFeaturedMediaUrl && !featuredMediaBase64)"
                              (change)="onFeaturedMediaChange($event)">
                  <ngx-dropzone-label>Carica immagine</ngx-dropzone-label>
                </ngx-dropzone>
                <ng-container *ngIf="contentToEdit.wordpressId">
                  <mat-divider class="my-1"></mat-divider>
                  <div>Il contenuto è già stato pubblicato. La sua pubblicazione è schedulata per il
                    giorno {{contentToEdit.wordpressPublicationDate | date:"dd/MM/yyyy"}}</div>
                  <mat-divider class="my-1"></mat-divider>
                  <div>Puoi vedere il contenuto <a target="_blank"
                                                   [href]="contentToEdit.wordpressUrl">cliccando qui</a></div>
                  <mat-divider class="my-1"></mat-divider>
                </ng-container>
                <button mat-raised-button color="primary"
                        class=" m-1 w-100" (click)="publishOnWordpress()">Pubblica su Wordpress
                  <mat-icon>check</mat-icon>
                </button>
              </mat-card-content>
            </mat-card>
          </ng-container>
        </ng-container>
        <button *isAuthenticated="['ADMIN','CHIEF_EDITOR','INTERNAL_NETWORK']" mat-raised-button color="primary"
                class="m-1 w-100"
                (click)="openDialogContentHint()">
          Modifica indicazioni contenuto
          <mat-icon>tips_and_updates</mat-icon>
        </button>
        <button *isAuthenticated="['EDITOR']" mat-raised-button color="primary" class="m-1 w-100"
                (click)="openDialogContentHint()">
          Indicazioni contenuto
          <mat-icon>tips_and_updates</mat-icon>
        </button>
        <button mat-raised-button color="primary" class="m-1 w-100" (click)="exportDocx()">
          Esporta docx
          <mat-icon>description</mat-icon>
        </button>
      </div>
    </mat-drawer>
    <mat-drawer-content class="d-flex justify-content-center">
      <div class="w-75">
        <small class="fst-italic" *ngIf="lastSaved">Ultimo
          salvataggio: {{lastSaved.toDate()|date:"dd/MM/YYYY HH:mm:ss"}}</small>
        <ng-container *ngIf="userCanEdit()">
          <editor class="w-100"
                  [init]="{readonly: true,height: '100vh', plugins: 'lists link image table code help wordcount' }"
                  [formControl]="contentForm.controls.body">
          </editor>
        </ng-container>
        <ng-container *ngIf="!userCanEdit()">
          <div class="border p-3" [innerHTML]="contentToEdit.body"></div>
        </ng-container>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
