<div *ngIf="videoTemplate" class="my-3">
  <mat-card>
    <mat-card-content>
      <div class="row" [formGroup]="form">
        <div class="col-9">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Url</mat-label>
            <input matInput formControlName="url">
          </mat-form-field>
          <mat-form-field class="w-100" appearance="fill" >
            <mat-label>Campi di configurazione</mat-label>
            <mat-chip-grid #chipGrid>
              <mat-chip-row *ngFor="let field of form.controls.fields.value"
                            (removed)="remove(field)"
                            [editable]="false">
                {{field}}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
              <input placeholder="Nuovo campo"
                     [matChipInputFor]="chipGrid"
                     [matChipInputAddOnBlur]="true"
                     (matChipInputTokenEnd)="add($event)"/>
            </mat-chip-grid>
          </mat-form-field>
        </div>
        <div class="col-3">
          <iframe *ngIf="videoTemplate.url" [src]="videoTemplate.url | sanitizeUrl" class="w-100 h-100"></iframe>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions [align]="'end'">
      <button mat-raised-button color="primary" (click)="onSave()">Salva</button>
      <button mat-raised-button color="warn" class="ms-1" (click)="onDelete()">Elimina</button>
    </mat-card-actions>
  </mat-card>
</div>
