<mat-toolbar>
  <span>Progetto <span *ngIf="projectToEdit">{{projectToEdit.name}}
    - {{projectStatuses | extractLabelByCode:projectToEdit.status}}</span></span>
</mat-toolbar>
<div class="p-3">
  <div class="row">
    <div class="col-9">
      <form [formGroup]="projectFormGroup" (ngSubmit)="update()">
        <div class="row">
          <div class="col">
            <mat-form-field class="w-100">
              <mat-label>Nome progetto</mat-label>
              <input [readonly]="!(isUserAdmin$ | async) && !(isUserChiefEditor$ | async)" matInput type="text"
                     formControlName="name">
            </mat-form-field>
          </div>
          <div class="col-4" *isAuthenticated="['CUSTOMER']">
            <mat-chip-list>
              <mat-chip *ngFor="let finalCustomer of projectFormGroup.controls.finalCustomers.value">
                {{finalCustomer.fullname}}
              </mat-chip>
            </mat-chip-list>
          </div>
          <div class="col-4" *isAuthenticated="['ADMIN','INTERNAL_NETWORK','CHIEF_EDITOR']">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Clienti finali</mat-label>
              <mat-chip-list #chipList>
                <mat-chip
                  *ngFor="let finalCustomer of projectFormGroup.controls.finalCustomers.value"
                  (removed)="removeFinalCustomer(finalCustomer)">
                  {{finalCustomer.fullname}}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
                <input
                  #finalCustomerInputAutocompleteElement
                  [formControl]="finalCustomerAutocompleteControl"
                  [matAutocomplete]="autoFinalCustomer"
                  [matChipInputFor]="chipList">
              </mat-chip-list>
              <mat-autocomplete #autoFinalCustomer="matAutocomplete" (optionSelected)="addFinalCustomer($event)">
                <mat-option *ngFor="let finalCustomer of finalCustomerSearchResult" [value]="finalCustomer">
                  {{finalCustomer.fullname}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <ng-container *ngIf="projectToEdit && !projectToEdit.isDomainProject">
            <div class="col-6" *isNotInRole="['CUSTOMER','CHIEF_EDITOR','PUBLISHER']">
              <mat-form-field class="w-100">
                <mat-label>Descrizione fatturazione</mat-label>
                <input [readonly]="!(isUserAdmin$ | async) && !(isUserChiefEditor$ | async)" matInput type="text"
                       formControlName="billingDescription">
              </mat-form-field>
            </div>
            <div class="col-6" *isNotInRole="['CUSTOMER','CHIEF_EDITOR','PUBLISHER']">
              <mat-form-field class="w-100">
                <mat-label>Importo fatturazione</mat-label>
                <input [readonly]="!(isUserAdmin$ | async) && !(isUserChiefEditor$ | async)" matInput type="number"
                       formControlName="billingAmount">
              </mat-form-field>
            </div>
            <div class="col-6" *isNotInRole="['CUSTOMER']">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Scadenza</mat-label>
                <input [readonly]="!(isUserAdmin$ | async) && !(isUserChiefEditor$ | async)" matInput
                       [matDatepicker]="picker" formControlName="expiration">
                <mat-datepicker-toggle *ngIf="(isUserAdmin$ | async) || (isUserChiefEditor$ | async)" matSuffix
                                       [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-6" *isNotInRole="['CUSTOMER']">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>Cliente</mat-label>
                <input [readonly]="!(isUserAdmin$ | async) && !(isUserChiefEditor$ | async)" type="text"
                       placeholder="Cerca cliente..."
                       matInput
                       formControlName="customer"
                       [matAutocomplete]="autoCustomer"
                >
                <mat-autocomplete #autoCustomer="matAutocomplete"
                                  [displayWith]="displayFullnameCustomer"
                >
                  <mat-option *ngFor="let option of customers" [value]="option">
                    {{option.fullname}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </ng-container>
        </div>
        <div class="mb-3" *isAuthenticated="['ADMIN','CHIEF_EDITOR','INTERNAL_NETWORK']">
          <mat-accordion *ngIf="projectToEdit">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Modifica indicazioni progetto
                </mat-panel-title>
                <mat-panel-description>
                  Aggiungi le indicazioni globali del progetto per i redattori
                </mat-panel-description>
              </mat-expansion-panel-header>
              <app-content-hint-form [bodyFormControl]="projectFormGroup.controls.hintBody!"
                                     [hint]="projectToEdit.hint"
                                     (addedFiles)="onUploadProjectHintAttachments($event)"
                                     (removedFile)="onRemovedAttachment($event)"></app-content-hint-form>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div class="col-12 text-end" *ngIf="projectToEdit && !projectToEdit.isDomainProject">
          <ng-container *ngIf="projectToEdit?.status === 'SENT_TO_ADMINISTRATION'">
            <button *isAuthenticated="['ADMIN','ADMINISTRATION']" mat-raised-button color="primary" type="button"
                    class="me-1" (click)="onCloseProject()">
              <mat-icon>check</mat-icon>
              Fatturato
            </button>
          </ng-container>

          <button mat-raised-button color="primary" type="submit"
                  *isAuthenticated="['ADMIN','CHIEF_EDITOR','INTERNAL_NETWORK']">
            <mat-icon>save</mat-icon>
            Salva
          </button>
        </div>
      </form>
      <mat-divider class="my-3"></mat-divider>
      <ng-container *isAuthenticated="['ADMIN','CHIEF_EDITOR','PUBLISHER','CUSTOMER','INTERNAL_NETWORK']">
        <div class="p-3" *ngIf="projectFormGroup.valid">
          <div class="row align-items-center">
            <div class="col-2">
              <mat-form-field class="w-100 my-1">
                <mat-label>Ricerca globale</mat-label>
                <input matInput type="text" [formControl]="globalSearchFormControl">
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Stato commissione</mat-label>
                <mat-select [formControl]="statusFormControl">
                  <mat-option [value]="''">Seleziona</mat-option>
                  <mat-option *ngFor="let status of projectCommissionStatus" [value]="status.code">
                    {{status.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-2" *isNotInRole="['CUSTOMER']">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Periodo</mat-label>
                <mat-select [formControl]="periodFormControl">
                  <mat-option [value]="''">Seleziona</mat-option>
                  <mat-option *ngFor="let period of periods" [value]="period.code">
                    {{period.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-2" *isNotInRole="['CUSTOMER']">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Anno</mat-label>
                <mat-select [formControl]="yearFormControl">
                  <mat-option [value]="null">Seleziona</mat-option>
                  <mat-option *ngFor="let year of getYearList()" [value]="year">
                    {{year}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-2" *isAuthenticated="['ADMIN','PUBLISHER','CHIEF_EDITOR','INTERNAL_NETWORK']">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Passa in stato</mat-label>
                <mat-select [formControl]="changeStatusFormControl" [disabled]="nextStateBulkAction.length === 0"
                            (selectionChange)="onBulkAction($event)">
                  <mat-option [value]="null">Seleziona</mat-option>
                  <mat-option *ngFor="let nextState of nextStateBulkAction" [value]="nextState">
                    {{projectCommissionStatus | extractLabelByCode:nextState}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-2" *isAuthenticated="['ADMIN','CHIEF_EDITOR','INTERNAL_NETWORK']">
              <div class="text-center">
                <button mat-raised-button (click)="createCommission()">
                  <mat-icon>add</mat-icon>
                  Aggiungi
                </button>
              </div>
            </div>
          </div>
          <mat-card class="w-100"
                    *ngIf="projectToEdit && !(projectToEdit.projectCommissions && projectToEdit.projectCommissions.length > 0)">
            <mat-card-content>Questo progetto non ha commissioni o non hai il ruolo adatto per gestirle
            </mat-card-content>
          </mat-card>
          <table mat-table
                 *ngIf="projectToEdit && projectToEdit.projectCommissions && projectToEdit.projectCommissions.length > 0"
                 [dataSource]="projectToEdit.projectCommissions"
                 class="mat-elevation-z8 w-100 mt-3 fixed-width" matSort (matSortChange)="onSortChange($event)">
            <!-- Position Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox [disabled]="getDisabledAllSelectionCheckBox()" (change)="$event ? toggleAllRows() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox [disabled]="getDisabledSelectionCheckBox(row)"
                              (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell mat-sort-header="status" *matHeaderCellDef> Stato</th>
              <td mat-cell
                  *matCellDef="let element" > {{projectCommissionStatus | extractLabelByCode:element.status}} </td>
            </ng-container>
            <ng-container matColumnDef="newspaper">
              <th mat-header-cell mat-sort-header="newspaper.name" *matHeaderCellDef> Testata</th>
              <td mat-cell *matCellDef="let element" class="text-ellipsis"> {{element.newspaper.name}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="period">
              <th mat-header-cell mat-sort-header="year,period" *matHeaderCellDef> Periodo</th>
              <td mat-cell *matCellDef="let element"> {{periods | extractLabelByCode:element.period}} {{element.year}}</td>
            </ng-container>

            <ng-container matColumnDef="publicationDate">
              <th mat-header-cell mat-sort-header="publicationDate" *matHeaderCellDef> Data di pubblicazione</th>
              <td mat-cell *matCellDef="let element" class="text-ellipsis"> {{element.publicationDate | date:"dd/MM/yyyy"}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="title">
              <th mat-header-cell mat-sort-header="title" *matHeaderCellDef> Titolo</th>
              <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>

            <!-- Symbol Column -->

            <ng-container matColumnDef="publicationUrl">
              <th mat-header-cell mat-sort-header="publicationUrl" *matHeaderCellDef> Url di pubblicazione</th>
              <td mat-cell *matCellDef="let element" class="text-ellipsis"><a target="_blank" [href]="element.publicationUrl"
                                                        *ngIf="element.publicationUrl">{{element.publicationUrl}}</a>
              </td>
            </ng-container>
            <ng-container matColumnDef="lastModifiedDate">
              <th mat-header-cell mat-sort-header="lastModifiedDate" *matHeaderCellDef> Ultima modifica</th>
              <td mat-cell *matCellDef="let element">{{element.lastModifiedDate | date:"dd/MM/yyyy"}}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Azioni</th>
              <td mat-cell *matCellDef="let element">
                <button mat-button [matMenuTriggerFor]="actions">Azioni</button>
                <mat-menu #actions="matMenu">
                  <button mat-menu-item class="me-1" (click)="updateCommission(element)" *isNotInRole="['CUSTOMER']">
                    <mat-icon>search</mat-icon>
                    Dettaglio
                  </button>
                  <button mat-menu-item (click)="openHistory(element)">
                    <mat-icon>history</mat-icon>
                    Storico
                  </button>
                  <a mat-menu-item [href]="'/contents/'+element.contentId" target="_blank">
                    <mat-icon>newspaper</mat-icon>
                    Vai al contenuto
                  </a>
                </mat-menu>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row [ngClass]="rowClass(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </ng-container>
    </div>
    <div class="col-3 mat-typography" *ngIf="projectToEdit">
      <ng-container *ngIf="!domainProjectNewspaper">
        <button *isAuthenticated="['ADMIN','CHIEF_EDITOR','CUSTOMER']" (click)="openToolNewspaperDialog()"
                mat-raised-button color="primary" class="my-3 w-100">
          <mat-icon>newspaper</mat-icon>
          Tool testate
        </button>
      </ng-container>
      <button [routerLink]="['statistics']" mat-raised-button color="primary" class="mb-3 w-100">
        <mat-icon>trending_up</mat-icon>
        Statistiche
      </button>
      <button *isAuthenticated="['ADMIN','CHIEF_EDITOR','PUBLISHER']" (click)="exportProject()" mat-raised-button
              color="primary" class="mb-3 w-100">
        <mat-icon>download</mat-icon>
        Esporta progetto
      </button>
      <div class="fs-4">
        Storico progetto
      </div>
      <mat-vertical-stepper [selectedIndex]="projectToEdit.projectStatusChanges.length -1" [linear]="true" class="py-3">
        <mat-step
          [optional]="false"
          [completed]="true"
          [editable]="false"
          *ngFor="let statusChanges of projectToEdit.projectStatusChanges">
          <ng-template matStepLabel>
            <span class="text-dark">{{statusChanges.createdDate | date:"dd/MM/yyyy"}}</span> -
            <span>{{projectStatuses | extractLabelByCode:statusChanges.projectStatus}}</span>
          </ng-template>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>


</div>
