<mat-toolbar>
  <span>Progetti</span>
</mat-toolbar>
<div class="p-3">
  <div class="row align-items-center">
    <div class="col-10">
      <mat-form-field class="w-100">
        <mat-label>Ricerca globale</mat-label>
        <input matInput type="text" [formControl]="searchProjectFormControl">
      </mat-form-field>
    </div>
    <div class="col-2" *isAuthenticated="['ADMIN']">
      <mat-form-field class="w-100">
        <mat-label>Stato</mat-label>
        <mat-select [formControl]="searchProjectStatusFormControl">
          <mat-option *ngFor="let projectStatus of projectStatuses" [value]="projectStatus.code">
            {{ projectStatus.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row align-items-center">
    <ng-container *isAuthenticated="['ADMIN','CHIEF_EDITOR']">
      <div class="col-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Testate</mat-label>
          <mat-chip-grid #chipListNewspaper>
            <mat-chip-row *ngFor="let newspaper of searchProjectNewspapers.value"
                          (removed)="removeNewspaper(newspaper.id)">
              {{ newspaper.name }}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            <input
              placeholder="Cerca testata..."
              [formControl]="newspaperInput"
              #newspaperInputElement
              [matAutocomplete]="autoNewspaper"
              [matChipInputFor]="chipListNewspaper"
            >
          </mat-chip-grid>
          <mat-autocomplete #autoNewspaper="matAutocomplete"
                            (optionSelected)="newspaperSelected($event,newspaperInputElement)">
            <mat-option *ngFor="let newspaper of newspapers" [value]="newspaper">
              {{ newspaper.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Stato commissioni</mat-label>
          <mat-select [formControl]="searchProjectCommissionStatusFormControl" multiple>
            <mat-option *ngFor="let commissionStatus of projectCommissionStatuses" [value]="commissionStatus.code">{{ commissionStatus.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field class="w-100">
          <mat-label>Anno</mat-label>
          <mat-select [formControl]="searchProjectYear">
            <mat-option [value]="null">Seleziona</mat-option>
            <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field class="w-100">
          <mat-label>Periodo</mat-label>
          <mat-select [formControl]="searchProjectPeriod">
            <mat-option [value]="null">Seleziona</mat-option>
            <mat-option *ngFor="let period of periods" [value]="period.code">{{ period.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </ng-container>
    <div class="col-2" *isAuthenticated="['ADMIN','CHIEF_EDITOR']">
      <button mat-raised-button color="primary" class="w-100 mb-1" (click)="export()">
        <mat-icon>download</mat-icon>
        Export
      </button>
      <button mat-raised-button color="primary" class="w-100 mb-1" (click)="create()">
        <mat-icon>add</mat-icon>
        Crea nuovo
      </button>
    </div>
  </div>
  <div *ngIf="actualPage | async; let actualPageValue" class="w-100 mat-elevation-z8">
    <table mat-table [dataSource]="actualPageValue.content" class="w-100" matSort (matSortChange)="sortChange($event)"
    >
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> Nome</th>
        <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="status"> Stato</th>
        <td mat-cell *matCellDef="let element"> {{ projectStatuses  | extractLabelByCode:element.status }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="customer.fullname"> Cliente</th>
        <td mat-cell *matCellDef="let element"> {{ element.customer?.fullname || "Nessun cliente" }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="expiration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="expiration"> Scadenza</th>
        <td mat-cell *matCellDef="let element"> {{ (element.expiration | date:"dd/MM/yyyy") || "Nessuna scadenza" }}</td>
      </ng-container>

      <ng-container matColumnDef="hasStartedCommission">
        <th mat-header-cell *matHeaderCellDef> Commissioni avviate</th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <mat-icon [style.color]="'red'" *ngIf="element.hasStartedCommission">error</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="hasAssignedCommission">
        <th mat-header-cell *matHeaderCellDef> Commissioni Assegnate</th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <mat-icon [style.color]="'orange'" *ngIf="element.hasAssignedCommission">error</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="hasWorkedCommission">
        <th mat-header-cell *matHeaderCellDef> Commissioni lavorate</th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <mat-icon [style.color]="'green'" *ngIf="element.hasWorkedCommission">error</mat-icon>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Azioni</th>
        <td mat-cell *matCellDef="let element">
          <a mat-icon-button class="me-1" [routerLink]="['/projects',element.id]" target="_blank">
            <mat-icon>search</mat-icon>
          </a>
          <button mat-icon-button (click)="onDelete(element.id)" *isAuthenticated="['ADMIN']">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToShow"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToShow;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10,50,100]"
                   showFirstLastButtons
                   [length]="actualPageValue?.totalElements"
                   [pageSize]="pagination.pageSize"
                   (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>
