<mat-toolbar>
  <span>Progetti</span>
</mat-toolbar>
<div class="p-3">
  <div class="row align-items-center">
    <div class="col-2" *isAuthenticated="['ADMIN']">
      <mat-form-field class="w-100">
        <mat-label>Stato</mat-label>
        <mat-select>
          <mat-option *ngFor="let projectStatus of projectStatuses" [value]="projectStatus.code">
            {{projectStatus.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="w-100">
        <mat-label>Ricerca globale</mat-label>
        <input matInput type="text" [formControl]="searchProjectFormControl">
      </mat-form-field>
    </div>
    <div class="col-2" *isAuthenticated="['ADMIN']">
      <button mat-raised-button color="primary" class="w-100" (click)="create()">
        <mat-icon>add</mat-icon>
        Crea nuovo
      </button>
    </div>
  </div>
  <div *ngIf="actualPage | async; let actualPageValue" class="w-100 mat-elevation-z8">
    <table mat-table [dataSource]="actualPageValue.content" class="w-100" matSort (matSortChange)="sortChange($event)"
    >
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> Nome</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="status"> Stato</th>
        <td mat-cell *matCellDef="let element"> {{projectStatuses  | extractLabelByCode:element.status}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="customer.fullname"> Cliente</th>
        <td mat-cell *matCellDef="let element"> {{element.customer?.fullname}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="expiration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="expiration"> Scadenza</th>
        <td mat-cell *matCellDef="let element"> {{element.expiration | date:"dd/MM/yyyy"}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Azioni</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button class="me-1" (click)="openDetail(element.id)">
            <mat-icon>search</mat-icon>
          </button>
          <button mat-icon-button (click)="onDelete(element.id)" *isAuthenticated="['ADMIN']">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['name','status','customer','expiration','action']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name','status','customer','expiration','action'];"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10,50,100]"
                   showFirstLastButtons
                   [length]="actualPageValue?.totalElements"
                   [pageSize]="pagination.pageSize"
                   (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>
