<div class="d-flex justify-content-between align-items-center">
  <input type="text" name="globalSearch" class="form-control w-50" placeholder="Cerca..." #globalSearchInput>
  <a class="btn btn-primary" routerLink="/projects/create">
    <em class="bi bi-plus"></em>
    Nuovo progetto
  </a>
</div>
<div>
  <ng-container *ngIf="(actualPage$ | async) as actualPageValue">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Cliente</th>
        <th scope="col">Azioni</th>
        <th scope="col">Progetti</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let project of actualPageValue.content | paginate : { itemsPerPage: actualPageValue?.pageable?.pageSize, currentPage: (actualPageValue?.pageable?.pageNumber || 0) + 1, totalItems: actualPageValue?.totalElements }">
        <th scope="row">{{project.id}}</th>
        <td>{{project.name}}</td>
        <td>{{project.customer?.name}}</td>
        <td>
          <button class="btn btn-primary btn-sm m-1" routerLink="{{project.id}}" title="Modifica progetto">
            <i class="bi bi-pencil"></i>
          </button>
          <button class="btn btn-danger btn-sm m-1" title="Elimina progetto" (click)="onDelete(project)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
        <td>
          <button class="btn btn-primary" [routerLink]="'/contents'" [queryParams]="{projectId: project?.id}">Gestisci
            redazionali
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="text-center">
      <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
  </ng-container>
</div>
