#backdrop {
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#modal {
  z-index: 999;
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
  margin: auto;
}

.modal-body {
  max-height: calc(100vh - 300px);
  overflow-y: auto;
}
