<div class="d-flex justify-content-between align-items-center">
  <input type="text" name="globalSearch" class="form-control w-50" placeholder="Cerca..." #globalSearchInput>
  <a class="btn btn-primary" routerLink="/customers/create">
    <em class="bi bi-plus"></em>
    Nuovo cliente
  </a>
</div>
<div>
  <ng-container *ngIf="(actualPage$ | async) as actualPageValue">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let item of actualPageValue.content | paginate : { itemsPerPage: actualPageValue?.pageable?.pageSize, currentPage: (actualPageValue?.pageable?.pageNumber || 0) + 1, totalItems: actualPageValue?.totalElements }">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td class="text-center">
          <a class="btn btn-warning mx-1" [routerLink]="['/customers',item.id]"><em class="bi bi-pencil"></em></a>
          <a class="btn btn-danger mx-1" (click)="onDelete(item.id)"><em class="bi bi-trash"></em></a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="text-center">
      <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
  </ng-container>
</div>
