<div class="d-flex justify-content-between align-items-center">
  <input type="text" name="globalSearch" class="form-control w-50" placeholder="Cerca..." #globalSearchInput>
</div>
<div>
  <ng-container *ngIf="(actualPage$ | async) as actualPageValue">
    <app-project-table
      (pageChange)="onPageChange($event)"
      (changeStatus)="changeStatus($event)"
      [actualPageValue]="actualPageValue"
      [showDeleteButton]="false"
      [showEditButton]="false"
      [showChangeStatusButton]="true"
      [availableStatusProject]="[ProjectStatus.TERMINATED]"
    ></app-project-table>
  </ng-container>
</div>
