<form [formGroup]="orderForm">
  <mat-form-field class="w-100">
    <mat-label>Nome</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <ng-container formArrayName="orderElements">
    <div class="row align-items-center"
         *ngFor="let orderElement of orderForm.controls.orderElements.controls; index as i"
         [formGroupName]="i">
      <div class="col">
        <mat-form-field class="w-100">
          <mat-label>Testata</mat-label>
          <input type="text"
                 placeholder="Pick one"
                 aria-label="Number"
                 matInput
                 formControlName="newspaper"
                 [matAutocomplete]="auto"
                 (focusin)="emptyArray()"
          >
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayNewspaperName">
            <mat-option *ngFor="let newspaper of newspapersAutocomplete" [value]="newspaper">
              {{newspaper.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="w-100">
          <mat-label>Numero di contenuti</mat-label>
          <input matInput type="number" formControlName="contentNumber">
        </mat-form-field>
      </div>
      <div class="col mat-typography" *ngIf="!isOrderPack">
        <mat-form-field class="w-100">
          <mat-label>Prezzo</mat-label>
          <input matInput readonly
                 value="{{(orderElement.controls.newspaper.value?.costSell && orderElement.controls.contentNumber.value ?
            (orderElement.controls.contentNumber.value * orderElement.controls.newspaper.value.costSell) : 0) | currency:'EUR'}}">
        </mat-form-field>
      </div>
      <ng-container *ngIf="orderToEdit?.status == 'DRAFT' && !isOrderPack">
        <div class="col-1" *isAuthenticated="['CUSTOMER']">
          <button class="w-100" type="button" mat-raised-button (click)="removeOrderElement(i)">
            Elimina
          </button>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <mat-card>
    <mat-card-content class="d-flex align-items-center justify-content-between">
      <span>Totale:</span>
      <span *ngIf="!isOrderPack">{{total | currency:"EUR"}}</span>
      <span *ngIf="isOrderPack">{{orderToEdit?.orderPackPrice | currency:"EUR"}}</span>
    </mat-card-content>
  </mat-card>
  <mat-form-field class="w-100 mt-3">
    <mat-label>Note</mat-label>
    <textarea matInput formControlName="note"></textarea>
  </mat-form-field>
  <div class="p-3 text-end">
    <ng-container *ngIf="orderToEdit?.status === 'REQUESTED'">
      <button type="button" color="primary" mat-raised-button (click)="onApprove()" *isAuthenticated="['ADMIN']">
        <mat-icon>check</mat-icon>
        Approva
      </button>
      <button type="button" class="ms-3" color="warn" mat-raised-button (click)="onCancel()"
              *isAuthenticated="['ADMIN']">
        <mat-icon>close</mat-icon>
        Respingi
      </button>
    </ng-container>
    <ng-container *ngIf="orderToEdit?.status == 'DRAFT' && !isOrderPack">
      <button type="button" mat-raised-button (click)="addOrderElement()" *isAuthenticated="['CUSTOMER']">
        <mat-icon>add</mat-icon>
        Aggiungi elemento
      </button>
      <button type="button" (click)="onSaveDraft()" mat-raised-button color="primary" class="ms-3"
              *isAuthenticated="['CUSTOMER']">
        <mat-icon>save</mat-icon>
        Salva bozza
      </button>
      <button type="button" (click)="onGenerateRequestQuote()" mat-raised-button color="primary" class="ms-3"
              *isAuthenticated="['CUSTOMER']">
        <mat-icon>request_quote</mat-icon>
        Genera preventivo
      </button>
    </ng-container>
    <ng-container
      *ngIf="orderToEdit?.status == 'DRAFT' && orderForm.controls.orderElements.length > 0 && orderForm.valid">
      <button type="button" (click)="onSend()" mat-raised-button color="primary" class="ms-3"
              *isAuthenticated="['CUSTOMER']">
        <mat-icon>send</mat-icon>
        Invia ordine
      </button>
    </ng-container>
    <ng-container *ngIf="orderToEdit?.status == 'DRAFT'">
      <button type="button" (click)="onDelete()" mat-raised-button color="warn" class="ms-3"
              *isAuthenticated="['CUSTOMER']">
        <mat-icon>delete</mat-icon>
        Elimina
      </button>
    </ng-container>
  </div>
</form>
