<div>
  <div class="d-flex justify-content-between mb-3 align-items-center">
    <div class="h3">Redazionali</div>
    <a routerLink="/contents/create" class="btn btn-primary" *isAuthenticated="['ADMIN']"><em class="bi bi-plus"></em>Nuovo
      redazionale</a>
  </div>
  <app-content-search-filter (submitSearchForm)="onSubmitSearchForm($event)"></app-content-search-filter>
  <ng-container *ngIf="(actualPage$ | async) as actualPageValue">
    <table class="table">
      <thead>
      <tr>
        <th sortable="id" (sort)="onSort($event)">Id</th>
        <th sortable="title" (sort)="onSort($event)">Titolo</th>
        <th sortable="deliveryDate" (sort)="onSort($event)">Data di consegna</th>
        <th sortable="editorId" (sort)="onSort($event)">Redattore</th>
        <th sortable="newspaperId" (sort)="onSort($event)">Testata</th>
        <th sortable="customerId" (sort)="onSort($event)">Cliente</th>
        <th sortable="projectId" (sort)="onSort($event)">Progetto</th>
        <th sortable="projectStatus" (sort)="onSort($event)">Stato progetto</th>
        <th sortable="contentStatus" (sort)="onSort($event)">Stato</th>
        <th>Stato validazione</th>
        <th sortable="monthUse" (sort)="onSort($event)">Mese di utilizzo</th>
        <th sortable="lastModifiedDate" (sort)="onSort($event)">Data ultima modifica</th>
        <th>Azioni</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let item of actualPageValue.content | paginate : { itemsPerPage: actualPageValue?.pageable?.pageSize, currentPage: (actualPageValue?.pageable?.pageNumber || 0) + 1, totalItems: actualPageValue?.totalElements }">
        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.deliveryDate | date:'dd/MM/yyyy'}}</td>
        <td>{{item.editor?.fullname}}</td>
        <td>{{item.newspaper?.name}}</td>
        <td>{{item.customer?.name}}</td>
        <td>{{item.project?.name}}</td>
        <td>{{item.projectStatus}}</td>
        <td>{{item.contentStatus | statusLabel}}</td>
        <td [ngClass]="'text-' + (item.ruleSatisfation | ruleSatisfationIndicatorColor)" class="text-center"><em
          class="bi bi-circle-fill"></em>
        </td>
        <td>{{item.monthUse}}</td>
        <td>{{item.lastModifiedDate | date:'dd/MM/yyyy'}}</td>
        <td class="text-center">
          <button class="btn btn-light mx-1" (click)="showDetail(item)"><em class="bi bi-search"></em></button>
          <a class="btn btn-warning mx-1" [routerLink]="[item.id]"><em class="bi bi-pencil"></em></a>
          <ng-container *isAuthenticated="['ADMIN', 'CHIEF_EDITOR']">
            <button class="btn btn-danger mx-1" (click)="delete(item.id)" *isAuthenticated="['ADMIN']"><em
              class="bi bi-trash"></em></button>
            <button *ngIf="item?.nextProjectStatus" class="btn btn-primary btn-sm m-1" (click)="changeProjectStatus(item)" title="Cambia stato progetto">
              <i class="bi bi-gear"></i> Cambia stato progetto
            </button>
          </ng-container>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="text-center">
      <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
  </ng-container>
</div>

<app-modal #modal [size]="modalSize" (close)="selectedContent = undefined">
  <div body>
    <dl *ngIf="selectedContent" class="row">

      <dt class="col-sm-3">Titolo</dt>
      <dd class="col-sm-9" [innerHTML]="selectedContent.title"></dd>

      <dt class="col-sm-3">Testata</dt>
      <dd class="col-sm-9" [innerHTML]="selectedContent.newspaper?.name"></dd>

      <dt class="col-sm-3">Cliente</dt>
      <dd class="col-sm-9" [innerHTML]="selectedContent.customer?.name"></dd>

      <dt class="col-sm-3">Progetto</dt>
      <dd class="col-sm-9" [innerHTML]="selectedContent.project?.name"></dd>

      <dt class="col-sm-3">Redattore</dt>
      <dd class="col-sm-9">
        <dl class="row">
          <dt class="col-sm-4 text-break">Nominativo</dt>
          <dd class="col-sm-8">{{selectedContent.editor?.fullname}}</dd>
          <dt class="col-sm-4 text-break" *ngIf="selectedContent.editor?.email">Email</dt>
          <dd class="col-sm-8">{{selectedContent.editor?.email}}</dd>
          <dt class="col-sm-4 text-break" *ngIf="selectedContent.editor?.mobilePhone">Cellulare</dt>
          <dd class="col-sm-8">{{selectedContent.editor?.mobilePhone}}</dd>
        </dl>
      </dd>

      <dt class="col-sm-3">Stato di lavorazione</dt>
      <dd class="col-sm-9" [innerHTML]="selectedContent.contentStatus | statusLabel"></dd>

      <dt class="col-sm-3">Creato il</dt>
      <dd class="col-sm-9" [innerHTML]="selectedContent.createdDate | date: 'dd/MM/yyyy'"></dd>

      <dt class="col-sm-3">Ultima modifica</dt>
      <dd class="col-sm-9" [innerHTML]="selectedContent.lastModifiedDate | date: 'dd/MM/yyyy'"></dd>

      <dt class="col-sm-3">Data di consegna</dt>
      <dd class="col-sm-9" [innerHTML]="selectedContent.deliveryDate | date: 'dd/MM/yyyy'"></dd>

      <ng-container *ngIf="selectedContent.links && selectedContent.links.length>0">
        <dt class="col-sm-3">Links</dt>
        <dd class="col-sm-9">
          <ul class="m-0 p-0" style="list-style: none;">
            <li *ngFor="let link of selectedContent.links">
              <a [href]="link.linkUrl">{{link.linkText}}</a>
            </li>
          </ul>
        </dd>
      </ng-container>

      <dt class="col-sm-3">Contenuto</dt>
      <dd class="col-sm-9 border p-1" [innerHTML]="selectedContent.body"></dd>

      <dt class="col-sm-3">Mese di utilizzo</dt>
      <dd class="col-sm-9" [innerHTML]="selectedContent.monthUse"></dd>

      <ng-container *ngIf="selectedContent.score">
        <dt class="col-sm-3">Punteggio</dt>
        <dd class="col-sm-9" [innerHTML]="selectedContent.score"></dd>
      </ng-container>

      <dt class="col-sm-3">Note del cliente</dt>
      <ng-container *isAuthenticated="['CUSTOMER']">
        <dd class="col-sm-7 border p-1">
            <textarea class="form-control" type="text" rows="5" [(ngModel)]="noteDelCliente"></textarea>
        </dd>
        <dd class="col-sm-2 p-1">
          <button class="btn btn-primary me-3" type="button" (click)="inserisciNote()">Inserisci note</button>
        </dd>
      </ng-container>
      <ng-container *isNotInRole="['CUSTOMER']">
        <dd class="col-sm-9 border p-1">{{selectedContent.customerNotes}}</dd>
      </ng-container>

      <ng-container *ngIf="selectedContent.adminNotes">
        <dt class="col-sm-3">Note dell'amministratore</dt>
        <dd class="col-sm-9 border p-1">{{selectedContent.adminNotes}}</dd>
      </ng-container>

      <ng-container *ngIf="selectedContent.contentRules">
        <dt class="col-sm-3">Regole dell'articolo</dt>
        <dd class="col-sm-9">
          <dl class="row">
            <ng-container *ngIf="selectedContent.contentRules?.title">
              <dt class="col-sm-4 text-break">Titolo</dt>
              <dd class="col-sm-8">{{selectedContent.contentRules?.title}}</dd>
            </ng-container>
            <ng-container *ngIf="selectedContent.contentRules?.body">
              <dt class="col-sm-4 text-break">Contenuto</dt>
              <dd class="col-sm-8">{{selectedContent.contentRules?.body}}</dd>
            </ng-container>
            <ng-container *ngIf="selectedContent.contentRules?.linkUrl">
              <dt class="col-sm-4 text-break">Url</dt>
              <dd class="col-sm-8">{{selectedContent.contentRules?.linkUrl}}</dd>
            </ng-container>
            <ng-container *ngIf="selectedContent.contentRules?.linkText">
              <dt class="col-sm-4 text-break">Testo dell'url</dt>
              <dd class="col-sm-8">{{selectedContent.contentRules?.linkText}}</dd>
            </ng-container>
            <ng-container *ngIf="selectedContent.contentRules?.maxCharacterBodyLength">
              <dt class="col-sm-4 text-break">Caratteri</dt>
              <dd class="col-sm-8">{{selectedContent.contentRules?.maxCharacterBodyLength}}</dd>
            </ng-container>
          </dl>
        </dd>
      </ng-container>

      <dt class="col-sm-3">Regole</dt>
      <dd class="col-sm-9">
        <dl class="row">
          <dt *ngIf="!selectedContent.ruleSatisfation?.characterSatisfied" class="col-sm-4 text-break">Numero di caratteri
          </dt>
          <dd *ngIf="!selectedContent.ruleSatisfation?.characterSatisfied"
              class="col-sm-8">{{selectedContent.ruleSatisfation?.characterError}}</dd>
          <dt *ngIf="!selectedContent.ruleSatisfation?.expirationDateOneDaySatisfied" class="col-sm-4 text-break">
            Data di scadenza
          </dt>
          <dd *ngIf="!selectedContent.ruleSatisfation?.expirationDateOneDaySatisfied"
              class="col-sm-8">{{selectedContent.ruleSatisfation?.expirationDateOneDayError}}</dd>
          <dt *ngIf="!selectedContent.ruleSatisfation?.expirationDatePlusThenOneDaySatisfied"
              class="col-sm-4 text-break">Data di scadenza
          </dt>
          <dd *ngIf="!selectedContent.ruleSatisfation?.expirationDatePlusThenOneDaySatisfied"
              class="col-sm-8">{{selectedContent.ruleSatisfation?.expirationDatePlusThenOneDayError}}</dd>
          <dt *ngIf="!selectedContent.ruleSatisfation?.titleSatisfied" class="col-sm-4 text-break">Titolo</dt>
          <dd *ngIf="!selectedContent.ruleSatisfation?.titleSatisfied"
              class="col-sm-8">{{selectedContent.ruleSatisfation?.titleError}}</dd>
          <dt *ngIf="!selectedContent.ruleSatisfation?.linkTextSatisfied" class="col-sm-4 text-break">Testo dell'url</dt>
          <dd *ngIf="!selectedContent.ruleSatisfation?.linkTextSatisfied"
              class="col-sm-8">{{selectedContent.ruleSatisfation?.linkTextError}}</dd>
          <dt *ngIf="!selectedContent.ruleSatisfation?.linkUrlSatisfied" class="col-sm-4 text-break">Url</dt>
          <dd *ngIf="!selectedContent.ruleSatisfation?.linkUrlSatisfied"
              class="col-sm-8">{{selectedContent.ruleSatisfation?.linkUrlError}}</dd>
        </dl>
      </dd>
    </dl>
  </div>
  <div footer *isAuthenticated="['CUSTOMER']">
    <button class="btn btn-primary me-3" type="button" (click)="exportPdf()">Export PDF</button>
    <button class="btn btn-primary me-3" type="button" (click)="exportDocx()">Export DOCX</button>
    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="approva()">
      <i class="bi bi-hand-thumbs-up"></i>
      Approva articolo
    </button>
  </div>
</app-modal>
