<mat-toolbar>
  <span>Contenuti</span>
</mat-toolbar>
<div class="p-3">
  <div class="p-3">
    <form [formGroup]="contentFilter">
      <div class="row">
        <div class="col">
          <mat-form-field class="w-100">
            <mat-label>Stato contenuto</mat-label>
            <mat-select formControlName="contentStatus">
              <mat-option [value]="null">Seleziona</mat-option>
              <mat-option *ngFor="let element of contentStatuses"
                          [value]="element.code">{{element.label}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Progetto</mat-label>
            <input type="text"
                   placeholder="Cerca progetto..."
                   matInput
                   formControlName="project"
                   [matAutocomplete]="autoProject"
            >
            <mat-autocomplete #autoProject="matAutocomplete"
                              [displayWith]="displayFullnameProject"
            >
              <mat-option *ngFor="let option of projects" [value]="option">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Testata</mat-label>
            <input type="text"
                   placeholder="Cerca testata..."
                   matInput
                   formControlName="newspaper"
                   [matAutocomplete]="autoNewspaper"
            >
            <mat-autocomplete #autoNewspaper="matAutocomplete"
                              [displayWith]="displayFullnameNewspaper"
            >
              <mat-option *ngFor="let option of newspapers" [value]="option">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>

    </form>
  </div>
  <div *ngIf="actualPage | async; let actualPageValue" class="w-100 mat-elevation-z8">
    <table mat-table [dataSource]="actualPageValue.content" class="w-100" matSort (matSortChange)="sortChange($event)"
    >

      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="createdDate"> Data di creazione</th>
        <td mat-cell *matCellDef="let element"> {{element.createdDate | date:"dd/MM/yyyy"}} </td>
      </ng-container>
      <ng-container matColumnDef="lastModifiedDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="lastModifiedDate"> Data di ultima modifica</th>
        <td mat-cell *matCellDef="let element"> {{element.lastModifiedDate | date:"dd/MM/yyyy HH:mm:ss"}} </td>
      </ng-container>
      <!-- Weight Column -->
      <ng-container matColumnDef="project">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="projectCommission.projectName"> Progetto</th>
        <td mat-cell *matCellDef="let element"> {{element.projectCommission.projectName}} </td>
      </ng-container>

      <ng-container matColumnDef="newspaper">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="projectCommission.newspaper.name"> Testata</th>
        <td mat-cell *matCellDef="let element"> {{element.projectCommission.newspaper?.name}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="contentStatus"> Stato</th>
        <td mat-cell *matCellDef="let element"> {{contentStatuses  | extractLabelByCode:element.contentStatus}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Azioni</th>
        <td mat-cell *matCellDef="let element">
          <a [href]="'/contents/'+element.id" target="_blank" mat-raised-button>Vai
            <mat-icon>search</mat-icon>
          </a>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="columnsToShow"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToShow;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10,50,100]"
                   showFirstLastButtons
                   [length]="actualPageValue?.totalElements"
                   [pageSize]="pagination.pageSize"
                   (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>
