<form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>Dati utente</legend>
    <div class="row">
      <div class="col">
        <label class="form-label">Nominativo</label>
        <input formControlName="fullname" class="form-control" type="text" [validationMessage]="formSubmitted">
        <app-errors [control]="editUserForm.controls.fullname"[formSubmitted]="formSubmitted"></app-errors>
      </div>
      <div class="col">
        <label class="form-label">E-Mail</label>
        <div class="input-group">
          <div class="input-group-text">@</div>
          <input formControlName="email" class="form-control" type="email" [validationMessage]="formSubmitted">
        </div>
        <app-errors [control]="editUserForm.controls.email"[formSubmitted]="formSubmitted"></app-errors>
      </div>
      <div class="col">
        <label class="form-label">Ruolo</label>
        <select formControlName="role" class="form-select" [validationMessage]="formSubmitted">
          <option [ngValue]="null">Seleziona</option>
          <option [ngValue]="'ADMIN'">Admin</option>
          <option [ngValue]="'CHIEF_EDITOR'">Capo redattore</option>
          <option [ngValue]="'EDITOR'">Redattore</option>
          <option [ngValue]="'CUSTOMER'">Cliente</option>
        </select>
        <app-errors [control]="editUserForm.controls.role"[formSubmitted]="formSubmitted"></app-errors>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Cellulare</label>
        <div class="input-group">
          <div class="input-group-text"><i class="bi bi-phone"></i></div>
          <input formControlName="mobilePhone" class="form-control" type="text">
        </div>
      </div>
      <div class="col">
        <label class="form-label">Livello</label>
        <input formControlName="level" class="form-control" type="text">
      </div>
      <div class="col">
        <label class="form-label">Compenso</label>
        <div class="input-group">
          <div class="input-group-text">€</div>
          <input formControlName="remuneration" class="form-control" type="number">
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-check form-switch mt-3">
    <input class="form-check-input" type="checkbox" (change)="togglePassword($event)">
    <label class="form-check-label">Modifica password</label>
  </div>
  <fieldset *ngIf="showChangePassword">
    <legend>Credenziali</legend>
    <div class="row">
      <div class="col">
        <label class="form-label">Password</label>
        <input formControlName="password" class="form-control" type="password" [validationMessage]="formSubmitted">
        <app-errors [control]="editUserForm.controls.password"[formSubmitted]="formSubmitted"></app-errors>
      </div>
      <div class="col">
        <label class="form-label">Ripeti password</label>
        <input formControlName="repeatPassword" class="form-control" type="password" [validationMessage]="formSubmitted">
        <app-errors [control]="editUserForm.controls.repeatPassword"[formSubmitted]="formSubmitted" [controlName]="'repeatPassword'"></app-errors>
      </div>
    </div>
  </fieldset>
  <div class="btn-toolbar mt-2 justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group me-2" role="group" aria-label="First group">
      <button class="btn btn-primary" type="submit" [disabled]="onSaving">
        <i class="bi bi-save"></i>
        Salva
      </button>
    </div>
    <div class="btn-group me-2" role="group" aria-label="Second group">
      <button class="btn btn-secondary" type="reset" [disabled]="onSaving">
        <i class="bi bi-eraser"></i>
        Cancella
      </button>
    </div>
  </div>
</form>
