<form #formGroupDirective="ngForm" [formGroup]="projectCommissionForm">
  <div class="row p-3">
    <div class="col-6">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Testata</mat-label>
        <input type="text" placeholder="Cerca testate..."
               matInput
               [readonly]="!!readonlyNewspaper || !isRoleAllowedToChangeCommonField()"
               [formControl]="newspaperInput"
               [matAutocomplete]="auto"
        >
        <mat-autocomplete #auto="matAutocomplete"
                          (optionSelected)="newspaperOptionSelected($event)"
                          [displayWith]="displayNewspaperName"
        >
          <mat-option *ngFor="let option of newspaper" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field class="w-100">
        <mat-label>Periodo</mat-label>
        <input matInput formControlName="period" [readonly]="true" *ngIf="!isRoleAllowedToChangeCommonField()">
        <mat-select formControlName="period" *ngIf="isRoleAllowedToChangeCommonField()">
          <mat-option *ngFor="let period of periods" [value]="period.code">{{period.label}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field class="w-100">
        <mat-label>Anno</mat-label>
        <input matInput formControlName="year" [readonly]="true" *ngIf="!isRoleAllowedToChangeCommonField()">
        <mat-select formControlName="year" *ngIf="isRoleAllowedToChangeCommonField()">
          <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="w-100">
        <mat-label>Titolo</mat-label>
        <input [readonly]="!isRoleAllowedToChangeCommonField()" matInput type="type" formControlName="title">
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="w-100">
        <mat-label>Ancora</mat-label>
        <input [readonly]="!isRoleAllowedToChangeCommonField()" matInput type="type" formControlName="anchor">
        <div matSuffix>
          <mat-checkbox class="d-block" *ngIf="isRoleAllowedToChangeCommonField()" formControlName="isAnchorBold">
            Grassetto
          </mat-checkbox>
          <mat-checkbox class="d-block" *ngIf="isRoleAllowedToChangeCommonField()" formControlName="isAnchorItalic">
            Corsivo
          </mat-checkbox>
        </div>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="w-100">
        <mat-label>URL</mat-label>
        <input [readonly]="!isRoleAllowedToChangeCommonField()" matInput type="type" formControlName="url">
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="w-100">
        <mat-label>Url di pubblicazione</mat-label>
        <input [readonly]="!isRoleAllowedToChangePublicationFields()" matInput type="type"
               formControlName="publicationUrl">
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Data di pubblicazione</mat-label>
        <input [readonly]="!isRoleAllowedToChangePublicationFields()" matInput [matDatepicker]="picker"
               formControlName="publicationDate">
        <mat-datepicker-toggle *ngIf="isRoleAllowedToChangePublicationFields()" matSuffix
                               [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="w-100">
        <mat-label>Note</mat-label>
        <textarea
          [readonly]="!isRoleAllowedToChangeCommonField()"
          matInput type="type" formControlName="notes"></textarea>
      </mat-form-field>
    </div>
    <div class="col-12 d-flex justify-content-between">
      <div>
        <ng-container *isAuthenticated="['ADMIN','PUBLISHER','CHIEF_EDITOR','INTERNAL_NETWORK']">
          <button mat-raised-button class="me-1" (click)="onSave()" type="button" *ngIf="isRoleAllowedToSave()">
            <mat-icon>save</mat-icon>
            {{projectCommission ? "Aggiorna" : "Salva"}}</button>
        </ng-container>
        <ng-container *isAuthenticated="['ADMIN','INTERNAL_NETWORK']">
          <button mat-raised-button class="me-1" (click)="onDelete()" *ngIf="projectCommission" type="button">
            <mat-icon>delete</mat-icon>
            Elimina
          </button>
        </ng-container>
        <button mat-raised-button (click)="onCancel()" *ngIf="projectCommission" type="button">
          <mat-icon>cancel</mat-icon>
          Annulla
        </button>
        <a mat-raised-button *ngIf="projectCommission" color="primary" class="ms-3" [href]="'/contents/'+projectCommission.contentId" target="_blank">
          <mat-icon>newspaper</mat-icon>
          Vai a contenuto
        </a>
      </div>
      <div *ngIf="projectCommission">
        <button *ngFor="let nextStep of nextSteps" mat-raised-button color="primary" class="me-1"
                (click)="onChangeStatus(nextStep.code)">
          <mat-icon>{{nextStep.icon}}</mat-icon>
          Passa a stato : {{nextStep.label}}
        </button>
      </div>
    </div>
  </div>
</form>
