<header>
  <div class="px-3 py-2 bg-dark text-white d-flex align-items-center">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a routerLink="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          GESTIONALE FLUSSI DI LAVORO
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small" *isAuthenticated>
          <li>
            <a routerLink="/" class="nav-link text-white">
              <i class="bi bi-house-door d-block mx-auto mb-1"></i>
              Home
            </a>
          </li>
          <!--          <li>-->
          <!--            <a routerLink="/projects" class="nav-link text-white" routerLinkActive="active">-->
          <!--              <i class="bi bi-kanban d-block mx-auto mb-1"></i>-->
          <!--              Progetti-->
          <!--            </a>-->
          <!--          </li>-->
          <li>
            <a routerLink="/contents" class="nav-link text-white">
              <i class="bi bi-file-earmark-text d-block mx-auto mb-1"></i>
              Contenuti
            </a>
          </li>
          <li *isAuthenticated="['ADMIN']">
            <a routerLink="/editors" class="nav-link text-white">
              <i class="bi bi-people d-block mx-auto mb-1"></i>
              Redattori
            </a>
          </li>
          <li *isAuthenticated="['ADMIN']">
            <a routerLink="/customers" class="nav-link text-white">
              <i class="bi bi-person-badge d-block mx-auto mb-1"></i>
              Clienti
            </a>
          </li>
          <li *isAuthenticated="['ADMIN']">
            <a routerLink="/newspapers" class="nav-link text-white">
              <i class="bi bi-newspaper d-block mx-auto mb-1"></i>
              Testate
            </a>
          </li>
          <li *isAuthenticated="['ADMIN']">
            <a routerLink="/suggests" class="nav-link text-white">
              <i class="bi bi-google d-block mx-auto mb-1"></i>
              Keywords
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div *isAuthenticated>
      <div class="text-white" role="button" (click)="doSignout()">
        <i class="bi bi-box-arrow-right d-block mx-auto mb-1"></i>
        Logout
      </div>
    </div>
  </div>
</header>

