<h1 mat-dialog-title>Indicazioni del contenuto
<button *isAuthenticated="['CHIEF_EDITOR','ADMIN']" mat-raised-button class="ms-3" (click)="openContentHintTemplateDialog()" >Apri template</button>
</h1>
<div mat-dialog-content>
  <div *isAuthenticated="['EDITOR']" class="m-3">
    <ng-container *ngIf="!!project && !!content">
      <p class="mat-typography fw-bold">Indicazioni di progetto</p>
      <div class="w-100 mat-typography" [innerHTML]="project.hint.body"></div>
      <p class="mat-typography fw-bold">Allegati:</p>
      <button class="mx-1" mat-raised-button *ngFor="let attachment of project.hint.attachments"
              (click)="download(attachment)">
        <mat-icon>download</mat-icon>
        {{attachment.filename}}</button>
      <mat-divider class="mt-3"></mat-divider>
      <p class="mat-typography fw-bold">Indicazioni contenuto</p>
      <div class="w-100 mat-typography" [innerHTML]="content.hint.body"></div>
      <p class="mat-typography fw-bold">Allegati:</p>
      <button class="mx-1" mat-raised-button *ngFor="let attachment of content.hint.attachments"
              (click)="download(attachment)">
        <mat-icon>download</mat-icon>
        {{attachment.filename}}</button>
    </ng-container>
  </div>
  <div *isAuthenticated="['CHIEF_EDITOR','ADMIN']">
    <app-content-hint-form *ngIf="content" [bodyFormControl]="hintBody"
                           [hint]="content.hint"
                           (addedFiles)="onUploadProjectHintAttachments($event)"
                           (removedFile)="onRemovedAttachment($event)"></app-content-hint-form>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Chiudi</button>
  <button mat-button (click)="save()" *isAuthenticated="['CHIEF_EDITOR','ADMIN']">Salva</button>
</div>
