<div class="full-body">
  <div class="h-100 w-100 position-relative">
    <mat-toolbar color="primary" style="height: 7%">
      <button *isAuthenticated="[]" (click)="drawer.toggle()" mat-icon-button>
        <mat-icon *ngIf="!(menuState|async)">menu</mat-icon>
        <mat-icon *ngIf="(menuState|async)">arrow_back</mat-icon>
      </button>
      <div class="ms-auto d-flex justify-content-end align-items-center h-100">
        <img src="assets/logo-tilinko-cropped-transparent.png" class="h-75" alt="">
      </div>
    </mat-toolbar>
    <mat-drawer-container style="height: 93%">
      <mat-drawer #drawer (openedStart)="toggleMenu(true)" (closedStart)="toggleMenu(false)" mode="over" style="min-width: 25%">
        <app-sidemenu (logout)="onLogout()"></app-sidemenu>
      </mat-drawer>
      <mat-drawer-content>
        <router-outlet></router-outlet>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
</div>
<ngx-spinner
  [fullScreen]="true"
  [type]="'cube-transition'"
  [color]="'#fff'"
  [size]="'medium'"
>
  <p class="text-white">Loading...</p>
</ngx-spinner>
