.order-pack-card {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  -o-transition: all .15s linear;
  -ms-transition: all .15s linear;
  transition: all .15s linear;
}

.order-pack-card:hover {
  transform: scale(1.1);
  z-index: 10;
}
