<div class="d-flex w-100 h-100 align-items-center justify-content-center">
  <mat-card appearance="outlined" class="w-25">
    <form [formGroup]="loginForm" (submit)="doSignin()">
      <img mat-card-image src="assets/logo-tilinko.png" class="w-100">
      <mat-card-header>
        <mat-card-title class="text-center">
          Log In
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="d-block">
          <mat-label>Username</mat-label>
          <input formControlName="username" matInput type="text">
        </mat-form-field>
        <mat-form-field class="d-block">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput type="password">
        </mat-form-field>
        <mat-error *ngIf="loginError">Credenziali errate</mat-error>
      </mat-card-content>
      <mat-card-actions>
        <button [disabled]="loginForm.invalid" type="submit" color="primary" mat-button>SIGN IN</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
