<div class="d-flex w-100 h-100 align-items-center justify-content-center">
  <mat-card class="w-25">
    <form [formGroup]="loginForm" (submit)="doSignin()">
      <mat-card-title class="text-center">
        Log In
      </mat-card-title>
      <mat-card-content>
        <mat-form-field class="d-block">
          <mat-label>Username</mat-label>
          <input formControlName="username" matInput type="text">
        </mat-form-field>
        <mat-form-field class="d-block">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput type="password">
          <mat-error *ngIf="loginError">Credenziali errate</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button [disabled]="loginForm.invalid" type="submit" color="primary" mat-button>SIGN IN</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
