<label>{{fieldLabel}}</label>
<ng-container *isAuthenticated="['ADMIN', 'CHIEF_EDITOR']">
  <input *ngIf="!existentfile" type="file" class="form-control" (change)="onLoadFile($event)">
</ng-container>
<div *ngIf="existentfile" class="border rounded p-3">
  <span>{{existentfile.filename}}</span>
  <button class="btn btn-success btn-sm ms-3" (click)="downloadFile()">Download <i class="bi bi-download"></i></button>
  <button *isAuthenticated="['ADMIN', 'CHIEF_EDITOR']" class="btn btn-danger btn-sm ms-3" (click)="onRemoveFile()">Rimuovi file <i
    class="bi bi-x"></i></button>
</div>
