<div class="h3">
  Preventivo
</div>

<app-newspaper-search-filter (submitSearchForm)="searchNewspaper($event)"></app-newspaper-search-filter>

<div class="mb-3">
  <br>
  <div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Testata</th>
        <th scope="col" *isNotInRole="['CUSTOMER']">Costo cadauno</th>
        <th scope="col" *isNotInRole="['CUSTOMER']">Costo di vendita</th>
        <th scope="col" *isAuthenticated="['CUSTOMER']">Costo</th>
        <th scope="col">Numero Redazionali</th>
        <th scope="col">Azioni</th>
      </tr>
      </thead>
      <tbody [formGroup]="formPriceQuotations">
      <ng-container formArrayName="priceQuotations"
                    *ngFor="let priceQuotation of priceQuotations['controls']; let i = index;">
        <tr [formGroupName]="i">
          <td>{{priceQuotation.value.nameNewspaper}}</td>
          <td *isNotInRole="['CUSTOMER']"><input id="costEach" type="number" class="form-control" formControlName="costEach"></td>
          <td><input id="costSell" type="number" class="form-control" formControlName="costSell"></td>
          <td><input id="numeroRedazionali" type="number" class="form-control" formControlName="numberOfEditors"></td>
          <td>
            <button class="btn btn-primary" type="button" (click)="calcolaPreventivo(i)">Calcola preventivo</button>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
  <div *ngIf="priceQuotationTable.length > 0" class="p-3 border rounded">
    <h4>Preventivo</h4>
    <table class="table" id="my-table">
      <thead>
      <tr>
        <th scope="col">Nome testata</th>
        <th scope="col" *isNotInRole="['CUSTOMER']">Costo cadauno</th>
        <th scope="col" *isNotInRole="['CUSTOMER']">Costo di vendita</th>
        <th scope="col" *isAuthenticated="['CUSTOMER']">Prezzo</th>
        <th scope="col">Numero redazionali</th>
        <th scope="col">Spesa</th>
        <th scope="col" *isNotInRole="['CUSTOMER']">Ricavo</th>
        <th scope="col" *isNotInRole="['CUSTOMER']">Guadagno</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let priceQuotation of priceQuotationTable">
        <td>{{priceQuotation.nameNewspaper}}</td>
        <td *isNotInRole="['CUSTOMER']">{{priceQuotation.costEach}}</td>
        <td>{{priceQuotation.costSell}}</td>
        <td>{{priceQuotation.numberOfEditors}}</td>
        <td>{{priceQuotation.expense}}</td>
        <td *isNotInRole="['CUSTOMER']">{{priceQuotation.revenue}}</td>
        <td *isNotInRole="['CUSTOMER']">{{priceQuotation.earn}}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteElement(priceQuotation)"><i class="bi bi-eraser"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="mt-1" *isAuthenticated="['ADMIN']">
      <form [formGroup]="exportForm" (submit)="generate()">
        <div>
          <label>Intestazione</label>
          <input type="file" class="form-control" (change)="handleUpload($event,'header')">
        </div>
        <div class="mt-3">
          <label>Nome cliente</label>
          <input type="text" class="form-control" formControlName="customerName">
        </div>
        <div class="mt-3">
          <label>Azienda</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="activity" [value]="'LINK_BUILDING'" checked>
            <label class="form-check-label">
              Link Building
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="activity" [value]="'DIGITAL_PR'">
            <label class="form-check-label">
              Digital PR
            </label>
          </div>
        </div>
        <div class="mt-3">
          <label>IVA</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="tax" [value]="true" checked>
            <label class="form-check-label">
              SI
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="tax" [value]="false">
            <label class="form-check-label">
              NO
            </label>
          </div>
        </div>
        <div class="mt-3">
          <label>Firma</label>
          <input type="file" class="form-control" (change)="handleUpload($event,'signature')">
        </div>
        <button class="btn btn-primary mt-3" [disabled]="exportForm.invalid" type="submit">
          <i class="fa bi-file-arrow-down">Export PDF</i>
        </button>
      </form>
    </div>
  </div>
</div>
