<div class="h3">
  Preventivo
</div>

<form [formGroup]="form" (ngSubmit)="searchNewspaper()">
  <div class="row">
    <div class="col-4">
      <label for="newspaper" class="form-label">Seleziona una testata</label>
      <select id="newspaper" class="form-select" formControlName="newspaperId">
        <option [ngValue]="''">Seleziona</option>
        <option *ngFor="let newspaper of newspaperList" value="{{newspaper?.id}}" > {{newspaper?.descrizione}} </option>
      </select>
    </div>
    <div class="col-4">
      <label for="topic" class="form-label">Argomenti</label>
      <select id="topic" class="form-select" formControlName="topicId">
        <option [ngValue]="''">Seleziona</option>
        <option *ngFor="let topic of topicList" value="{{topic?.id}}" > {{topic?.name}} </option>
      </select>
    </div>
    <div class="col-4">
      <label class="form-label" for="maxBudget">Budget massimo</label>
      <div class="input-group">
        <div class="input-group-text">€</div>
        <input id="maxBudget" formControlName="maxBudget" class="form-control" type="number" step="0.01">
      </div>
    </div>
  </div>
  <div class="d-flex mt-3">
    <button class="btn btn-primary" type="submit">
      <em class="bi bi-search"></em> Cerca
    </button>
  </div>
</form>


<div class="mb-3">
<br>
  <div >
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Testata</th>
        <th scope="col">Costo cadauno</th>
        <th scope="col">Costo di vendita</th>
        <th scope="col">Numero Redazionali</th>
        <th scope="col">Azioni</th>
      </tr>
      </thead>
      <tbody [formGroup]="formPriceQuotations">
      <ng-container formArrayName="priceQuotations" *ngFor="let priceQuotation of priceQuotations['controls']; let i = index;">
        <tr [formGroupName]="i">
          <td>{{priceQuotation.value.nameNewspaper}}</td>
          <td>{{priceQuotation.value.costEach}}</td>
          <td>{{priceQuotation.value.costSell}}</td>
          <td><input id="numeroRedazionali" type="number" class="form-control" formControlName="numberOfEditors"></td>
          <td><button class="btn btn-primary" type="button" (click)="calcolaPreventivo(i)" >Calcola preventivo </button></td>
        </tr>
      </ng-container>
<!--      <ng-container *ngIf="newspapers.length === 0 && search">-->
<!--        <tr>-->
<!--          <td colspan="5">-->
<!--            <div class="alert alert-danger" role="alert">-->
<!--              Non esistono testate che corrispondono ai criteri di ricerca-->
<!--            </div>-->
<!--          </td>-->
<!--        </tr>-->
<!--      </ng-container>-->
      </tbody>
    </table>
  </div>
  <div *ngIf="priceQuotationTableTemp.length > 0">
    <div class="mt-1">
      <button class="btn btn-primary" >
        <i class="fa bi-file-arrow-down" (click)="generateAndDownloadPdf()">Export PDF</i>
      </button>
    </div>
    <table class="table" id="my-table">
      <thead>
      <tr>
        <th scope="col">Nome testata</th>
        <th scope="col">Costo cadauno</th>
        <th scope="col">Costo di vendita</th>
        <th scope="col">Numero redazionali</th>
        <th scope="col">Spesa</th>
        <th scope="col">Ricavo</th>
        <th scope="col">Guadagno</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let priceQuotation of priceQuotationTableTemp">
        <td>{{priceQuotation.nameNewspaper}}</td>
        <td>{{priceQuotation.costEach}}</td>
        <td>{{priceQuotation.costSell}}</td>
        <td>{{priceQuotation.numberOfEditors}}</td>
        <td>{{priceQuotation.expense}}</td>
        <td>{{priceQuotation.revenue}}</td>
        <td>{{priceQuotation.earn}}</td>
        <td>
          <button class="btn-danger" (click)="deleteElement(priceQuotation)"><i class="bi-eraser"></i></button>

        </td>
      </tr>
      </tbody>
    </table>


  </div>

  <br><br><br><br>


</div>
