<div class="d-flex justify-content-between align-items-center">
  <input type="text" name="globalSearch" class="form-control w-50" placeholder="Cerca..." #globalSearchInput>
  <a class="btn btn-primary" routerLink="/newspapers/create">
    <i class="bi bi-plus"></i>
    Nuova testata
  </a>
</div>
<div>
  <ng-container *ngIf="(actualPage$ | async) as actualPageValue">
    <table class="table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Redazionali Acquistati</th>
        <th>Costo cadauno</th>
        <th>Costo di vendita</th>
        <th>E-mail di contatto</th>
        <th>Geolocalizzazione regionale</th>
        <th>Argomento</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let item of actualPageValue.content | paginate : { itemsPerPage: actualPageValue?.pageable?.pageSize, currentPage: (actualPageValue?.pageable?.pageNumber || 0) + 1, totalItems: actualPageValue?.totalElements }">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.purchasedContent}}</td>
        <td>{{item.costEach}}</td>
        <td>{{item.costSell}}</td>
        <td>{{item.email}}</td>
        <td>{{item.regionalGeolocalization}}</td>
        <td [ngSwitch]="item.topic">
          <ng-container *ngSwitchCase="'CASA_ARREDAMENTO_DESIGN'">Casa Arredamento Design</ng-container>
          <ng-container *ngSwitchCase="'DONNA'">Donna</ng-container>
          <ng-container *ngSwitchCase="'ECONOMIA'">Economia</ng-container>
          <ng-container *ngSwitchCase="'FOOD'">Food</ng-container>
          <ng-container *ngSwitchCase="'IMPRESA_E_BUSINESS'">Impresa e Business</ng-container>
          <ng-container *ngSwitchCase="'LIFESTYLE_GOSSIP_MODA'">Lifestyle Gossip Moda</ng-container>
          <ng-container *ngSwitchCase="'NOTIZIE'">Notizie</ng-container>
          <ng-container *ngSwitchCase="'SALUTE_E_BENESSERE'">Salute e Benessere</ng-container>
          <ng-container *ngSwitchCase="'SHOPPING'">Shopping</ng-container>
          <ng-container *ngSwitchCase="'TECNOLOGIA_SCIENZA_INTERNET'">Tecnologia Scienza Internet</ng-container>
          <ng-container *ngSwitchCase="'TURISMO'">Turismo</ng-container>
          <ng-container *ngSwitchCase="'SPORT'">Sport</ng-container>
          <ng-container *ngSwitchCase="'POLITICA'">Politica</ng-container>
          <ng-container *ngSwitchCase="'ATTUALITA'">Attualità</ng-container>
          <ng-container *ngSwitchCase="'SPETTACOLI_TEATRO_CULTURA_INTRATTENIMENTO'">Spettacoli Teatro Cultura Intrattenimento</ng-container>
          <ng-container *ngSwitchCase="'MOTORI'">Motori</ng-container>
          <ng-container *ngSwitchCase="'GIOCHI'">Giochi</ng-container>
          <ng-container *ngSwitchCase="'AMBIENTE_GREEN'">Ambiente Green</ng-container>
        </td>
        <td class="text-center">
          <a class="btn btn-warning mx-1" [routerLink]="['/newspapers',item.id]"><i class="bi bi-pencil"></i></a>
          <a class="btn btn-danger mx-1" (click)="onDelete(item.id)"><i class="bi bi-trash"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="text-center">
      <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
  </ng-container>
</div>
