<form [formGroup]="saveCustomerForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label>Nome</label>
        <input class="form-control" type="text" id="name" formControlName="name" value="">
      </div>
    </div>
    <div class="col" formGroupName="contentRules">
      <div>
        <label>Indicazioni sul titolo</label>
        <textarea class="form-control" id="contentRules.title" formControlName="title"></textarea>
      </div>
      <div>
        <label>Indicazioni sul testo del link</label>
        <textarea class="form-control" id="contentRules.linkText" formControlName="linkText"></textarea>
      </div>
      <div>
        <label>Indicazioni sull'url del link</label>
        <textarea class="form-control" id="contentRules.linkUrl" formControlName="linkUrl"></textarea>
      </div>
      <div>
        <label>Indicazioni sul contenuto dell'articolo</label>
        <textarea class="form-control" id="contentRules.body" formControlName="body"></textarea>
      </div>
      <div>
        <label>Numero massimo di caratteri articolo</label>
        <input class="form-control" type="number" id="contentRules.maxCharacterBodyLength"
               formControlName="maxCharacterBodyLength" value="">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-primary">
        <i class="bi bi-save"></i>
        Salva
      </button>
    </div>
  </div>
</form>
