<form [formGroup]="saveCustomerForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label class="form-label">Nome</label>
        <input class="form-control" type="text" id="name" formControlName="name" [validationMessage]="formSubmitted">
        <app-errors [control]="saveCustomerForm.controls.name"[formSubmitted]="formSubmitted"></app-errors>
      </div>
      <div class="card my-3" *ngIf="!isEdit">
        <div class="card-title">
          Creazione utente
        </div>
        <div class="card-body">
          <div class="form-group">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" id="username" formControlName="username" [validationMessage]="formSubmitted">
            <app-errors [control]="saveCustomerForm.controls.username"[formSubmitted]="formSubmitted"></app-errors>
          </div>
          <div class="form-group">
            <label class="form-label" for="email">Email</label>
            <div class="input-group">
              <div class="input-group-text">@</div>
              <input formControlName="email" id="email" class="form-control" type="email" [validationMessage]="formSubmitted">
            </div>
            <app-errors [control]="saveCustomerForm.controls.email"[formSubmitted]="formSubmitted"></app-errors>
          </div>
          <div class="form-group">
            <label class="form-label" for="mobile">Mobile</label>
            <div class="input-group">
              <div class="input-group-text"><i class="bi bi-phone"></i></div>
              <input formControlName="mobile" id="mobile" class="form-control" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="text" id="password" formControlName="password" [validationMessage]="formSubmitted">
            <app-errors [control]="saveCustomerForm.controls.password"[formSubmitted]="formSubmitted"></app-errors>
          </div>
          <div class="form-group">
            <label class="form-label" for="repeatPassword">Ripeti Password</label>
            <input class="form-control" type="text" id="repeatPassword" formControlName="repeatPassword" [validationMessage]="formSubmitted">
            <app-errors [control]="saveCustomerForm.controls.repeatPassword" [formSubmitted]="formSubmitted" [controlName]="'repeatPassword'"></app-errors>
          </div>
        </div>
      </div>
    </div>
    <div class="col" formGroupName="contentRules">
      <div>
        <label class="form-label">Indicazioni sul titolo</label>
        <textarea class="form-control" id="contentRules.title" formControlName="title"></textarea>
      </div>
      <div>
        <label class="form-label">Indicazioni sul testo del link</label>
        <textarea class="form-control" id="contentRules.linkText" formControlName="linkText"></textarea>
      </div>
      <div>
        <label class="form-label">Indicazioni sull'url del link</label>
        <textarea class="form-control" id="contentRules.linkUrl" formControlName="linkUrl"></textarea>
      </div>
      <div>
        <label class="form-label">Indicazioni sul contenuto dell'articolo</label>
        <textarea class="form-control" id="contentRules.body" formControlName="body"></textarea>
      </div>
      <div>
        <label class="form-label">Numero minimo di caratteri articolo</label>
        <input class="form-control" type="number" id="contentRules.maxCharacterBodyLength"
               formControlName="maxCharacterBodyLength" value="">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-primary" [disabled]="this.saveCustomerForm.invalid">
        <i class="bi bi-save"></i>
        Salva
      </button>
    </div>
  </div>
</form>
