<div class="d-flex align-items-center">
  <h1 class="m-0" mat-dialog-title>{{data.projectCommission ? 'Modifica' : 'Crea'}} commissione
  </h1>
  <ng-container *ngIf="data.projectCommission">
    <span class="mx-1">-</span>
    <mat-chip-listbox>
      <mat-chip-option class="mat-typography"
                color="primary">{{projectCommissionStatus|extractLabelByCode:data.projectCommission.status}}</mat-chip-option>
    </mat-chip-listbox>
  </ng-container>
</div>
<div mat-dialog-content>
  <app-project-commission-form
    [project]="data.project"
    [projectCommission]="data.projectCommission"
    [preselectedNewspaper]="data.preselectedNewspaper"
    [readonlyNewspaper]="data.readonlyNewspaper"
    (save)="onSaveCommission($event)"
    (delete)="onDeleteCommission()"
    (cancel)="dialogRef.close()"
    (changeStatus)="onChangeStatus($event)"
  ></app-project-commission-form>
</div>
