<div class="d-flex justify-content-end mt-2">
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group me-2" role="group" aria-label="First group">
      <button type="button" class="btn btn-sm btn-success me-1" (click)="exportExcel()">
        <i class="bi bi-file-earmark-excel"></i>
        Excel
      </button>
      <button type="button" class="btn btn-sm btn-danger" (click)="exportPDF()">
        <i class="bi bi-file-earmark-pdf"></i>
        PDF
      </button>
    </div>
  </div>
</div>
