<div class="d-flex justify-content-end">
  <div>
    <button type="button" class="btn btn-sm btn-success me-1" (click)="exportExcel()" [disabled]="!callEnded">
      <ng-container *ngIf="!callEnded">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </ng-container>
      <i class="fas fa-file-excel no-float" *ngIf="callEnded"></i>
      Excel
    </button>
  </div>
  <div>
    <button type="button" class="btn btn-sm btn-danger" (click)="exportPDF()" [disabled]="!callEnded">
      <ng-container *ngIf="!callEnded">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </ng-container>
      <i class="fas fa-file-pdf no-float" *ngIf="callEnded"></i>
      PDF
    </button>
  </div>
</div>
