/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@import "node_modules/ngx-spinner/animations/cube-transition.css";
@import "node_modules/bootstrap/dist/css/bootstrap-grid.min.css";
@import "node_modules/bootstrap/dist/css/bootstrap-utilities.css";


.full-body {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.menu-primary {
  background: #3f51b5;
  color: #fff;
}

.menu-closed {
  width: 3rem;
}

.mat-mdc-row {
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.mat-mdc-row:hover {
  background-color: lightgray;
}

.menu-item {
  cursor: pointer;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.menu-item:hover {
  background-color: lightgray;
}

.menu-item:active {
  background-color: gray;
}

app-sidemenu-item.active .menu-item {
  background-color: lightgray;
}

.ratio-1-1 {
  aspect-ratio: 1/1;
}

.image-uploader {
  cursor: pointer;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.image-uploader:hover {
  background-color: lightgray;
}

.image-uploader:active {
  background-color: gray;
}

.news-list-detail {
  cursor: pointer;
  -webkit-transition: background-color 250ms linear !important;
  -moz-transition: background-color 250ms linear !important;
  -o-transition: background-color 250ms linear !important;
  -ms-transition: background-color 250ms linear !important;
  transition: background-color 250ms linear !important;
}

.news-list-detail:hover {
  background-color: lightgray;
}

.news-list-detail:active {
  background-color: gray;
}

.card-hoverable {
  cursor: pointer;
  -webkit-transition: background-color 250ms linear !important;
  -moz-transition: background-color 250ms linear !important;
  -o-transition: background-color 250ms linear !important;
  -ms-transition: background-color 250ms linear !important;
  transition: background-color 250ms linear !important;
}

.card-hoverable:hover {
  background-color: lightgray;
}

table.fixed-width {
  table-layout: fixed;
}


@media print {
  .mat-drawer-container, .mat-drawer-content {
    overflow: visible !important;
  }

  .print-display-none {
    display: none;
  }
}

.text-ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
}

.bg-lightgray{
  background-color: lightgray !important;
}

.bg-orange{
  background-color: orange !important;
}
