/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@import "~bootstrap/dist/css/bootstrap-grid.min.css";
@import "~bootstrap/dist/css/bootstrap-utilities.css";


.full-body {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.menu-primary {
  background: #3f51b5;
  color: #fff;
}

.menu-closed {
  width: 3rem;
}


