<mat-toolbar>
  Dettaglio ordine {{orderToEdit?.id}}
  <mat-divider class="w-100 mx-3"></mat-divider>
  <span class="text-warning" *ngIf="orderToEdit?.status === 'REQUESTED'">Stato inviato</span> <span class="text-success"
                                                                                                    *ngIf="orderToEdit?.status === 'CONFIRMED'">Stato confermato</span>
  <span class="text-danger" *ngIf="orderToEdit?.status === 'CANCELED'">Stato respinto</span>
</mat-toolbar>
<div class="p-3">
  <app-order-form *ngIf="orderToEdit" [orderToEdit]="orderToEdit" (formSubmit)="updateOrder($event)"
                  (approve)="onApprove()" (cancel)="onCancel()"></app-order-form>
</div>
