<form [formGroup]="searchForm">
  <div class="row">
    <div class="col-6">
      <mat-form-field class="w-100">
        <mat-label>Nome testata</mat-label>
        <input matInput formControlName="name" type="text">
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>Geolocalizzazione regionale</mat-label>
        <mat-select formControlName="regionalGeolocalization" multiple>
          <mat-option *ngFor="let element of regionalGeolocalizzation"
                      [value]="element.code">{{element.label}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>Argomento</mat-label>
        <mat-select formControlName="topics" multiple>
          <mat-option *ngFor="let topic of topicList" [value]="topic.id">{{topic.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-6" *ngIf="maxMinRangeNewspaperAttributes">
      <div class="mat-typography">
        <label>ZA (Zoom authority)</label>
        <ngx-slider (userChangeEnd)="onZaChange($event)"
                    [value]="maxMinRangeNewspaperAttributes.minZA"
                    [highValue]="maxMinRangeNewspaperAttributes.maxZA"
                    [options]="zaSliderOptions"></ngx-slider>
      </div>
      <div class="mat-typography">
        <label>Redazionali acquistati</label>
        <ngx-slider (userChangeEnd)="onPurchasedContentChange($event)"
                    [value]="maxMinRangeNewspaperAttributes.minPurchasedContent"
                    [highValue]="maxMinRangeNewspaperAttributes.maxPurchasedContent"
                    [options]="purchasedContentSliderOptions"></ngx-slider>
      </div>
      <div class="mat-typography">
        <label>Redazionali rimanenti</label>
        <ngx-slider (userChangeEnd)="onLeftContentChange($event)"
                    [value]="maxMinRangeNewspaperAttributes.minLeftContent"
                    [highValue]="maxMinRangeNewspaperAttributes.maxLeftContent"
                    [options]="leftContentSliderOptions"></ngx-slider>
      </div>
      <div class="mat-typography">
        <label>Costo cadauno</label>
        <ngx-slider (userChangeEnd)="onCostEachChange($event)"
                    [value]="maxMinRangeNewspaperAttributes.minCostEach"
                    [highValue]="maxMinRangeNewspaperAttributes.maxCostEach"
                    [options]="costEachSliderOptions"></ngx-slider>
      </div>
      <div class="mat-typography">
        <label>Costo di vendita</label>
        <ngx-slider (userChangeEnd)="onCostSellChange($event)"
                    [value]="maxMinRangeNewspaperAttributes.minCostSell"
                    [highValue]="maxMinRangeNewspaperAttributes.maxCostSell"
                    [options]="costSellSliderOptions"></ngx-slider>
      </div>
    </div>
  </div>
</form>

